.about-us {
  margin-top: 120px;
  background-color: #e9e0e0;
  padding: 60px;
}

.about img {
  width: 500px;
  height: 400px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.about p {
  width: 30ch;
  font-size: 2rem;
}

.about:first-child {
  padding-top: 30px;
}

.about:nth-child(2) {
  flex-direction: row-reverse;
}

.js .about-us.ativo [data-move="up"] {
  animation: slideUp 1s;
}

.js .about-us.ativo [data-move="bottom"] {
  animation: slideBottom 1s;
}
