.header {
  box-shadow: 0 3px 10px #000;
  padding: 15px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 32px;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  gap: 20px;
}

.header-nav a {
  font-size: 1.3rem;
  color: #35194a;
  padding: 10px;
}

.header-nav a:hover {
  color: #8b0abe;
}

.header-nav span a {
  background-color: #fff500;
  padding: 10px;
  transition: 0.4s;
}

.header-nav span a:hover {
  padding: 20px;
}

@media (max-width: 950px) {
  .header-flex {
    display: grid;
    justify-content: center;
    gap: 20px;
  }
  .header-flex img {
    justify-self: center;
  }
  .header-nav a,
  .header-nav span a {
    padding: 3px;
    background-color: #fff500;
    transition: 0.4s;
    color: #000;
  }

  .header-nav a:hover,
  .header-nav span a:hover {
    padding: 8px;
    color: #000;
  }
}

@media (max-width: 500px) {
  .header {
    font-size: 1.2rem;
    text-align: center;
  }
}
