.home {
  margin-top: 100px;
  background-color: #b3b5bc;
  font-family: "Ledger", serif;
  font-size: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.home-text {
  align-self: center;
  padding-left: 30px;
}

.home-text a {
  background-color: #4f3e36;
  color: #fff;
  padding: 20px;
}
