.mvv {
  margin-top: 100px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.mvv-section {
  font-size: 1.4rem;
}

.mvv-section:nth-child(1) {
  text-align: left;
}

.mvv-section:nth-child(2) {
  text-align: center;
}

.mvv-section:nth-child(3) {
  text-align: right;
}

.mvv-box {
  position: relative;
  background-color: #fdbdbd;
  border-radius: 5px;
  max-width: 500px;
  max-height: 400px;
  padding: 30px;
}

.hole {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 360px;
  background-color: #000;
}

.hole:nth-child(1) {
  left: 60px;
}

.hole:nth-child(2) {
  right: 60px;
}

.line {
  position: absolute;
  z-index: 200;
  top: 8px;
  left: 10px;
  width: 315px;
  height: 4px;
  background-color: #fff;
  border-radius: 2px;
}

.rope {
  padding-bottom: 40px;
}
