
#Dprin{
  display: flex; padding: 10px; margin: 30px;
  text-align: center;
  letter-spacing: 0.2rem;
}
#Dseg{
  background-color: rgba(165, 165, 165, 0.251);
   width: 45%;
   padding: 15px;
   border-radius: 3%;
   border: 2px solid black;
   box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.4);
   max-width: 100%;
   padding: 15px 20px;
}
#D-seg{
  text-align: center;
  align-items: center;
  justify-content: center; 
}
#D-seg img{
  display: inline-block;
  width: 80%;
  border: 1px solid black;
}
.achados-container {
  position: relative;
  width: 100%;
  margin-left: 6rem;
  border: 2px solid black;
  object-fit: cover;
}
.texto {
  position: absolute;
  top: 13%;
  left: 12%;
  width: 50%;
  height: 51.5%;
  text-align: left;
  color: #cd2c2c;
  padding: 20px;
  overflow: hidden;
}

.texto h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
}

.texto p {
  margin: 0;
  font-size: 16px;
}

#Lado {
  background-color: rgba(166, 202, 234, 0.779);
  text-align: center;
  width: 100%;
  overflow: hidden;
  padding: 15px;
  margin: 0 auto;
  max-width: 1200px;
}

#Lado img {
  border-radius: 5%;
  display: inline-block;
  width: 100%;
  max-width: 260px;
  height: 350px;
  object-fit: cover;
  margin-right: 2%;
}

#Lado img:last-child {
  margin-right: 0;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.whatsapp-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.whatsapp-btn:hover {
  background-color: darkgreen;
}

.whatsapp-btn i {
  margin-right: 10px;
  font-size: 20px;
}
#map {
  height: 400px;
  width: 100%;
}

