.about-miau-bg {
  background-color: #dce9e2;
}

.about-miau {
  margin-top: 40px;
  padding: 60px;
  text-align: center;
}

.mvv-container {
  margin-top: 85px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-bottom: 60px;
}

.mvv {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 35vh;
  max-height: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 25%);
}

.mvv img {
  object-fit: contain;
  height: 190px;
}

@media (max-width: 400px) {
  .mvv {
    height: 100%;
  }
}
