.adotion {
  margin-top: 200px;
  padding-bottom: 300px;
  background-image: url("../../imgs/logo/Wave.svg");
  z-index: 0;
}

.grid-adotion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 180px;
}

@media (max-width: 1300px) {
  .adotion {
    background-repeat: repeat-x;
    background-position: bottom;
  }
  .grid-adotion {
    gap: 180px;
  }
  .adotion-text {
    text-align: center;
  }
}

@media (max-width: 900px) {
  .grid-adotion {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 400px) {
  .adotion {
    background-image: none;
    padding-bottom: 10px;
  }
}
.adotion-base {
  justify-self: center;
}

.adotion-base img {
  width: 558px;
  height: 429px;
  top: -60px;
  left: 20px;
  object-fit: contain;
  position: relative;
}

.adotion-base p {
  text-align: center;
  margin-top: 20px;
  font-size: 36px;
  font-weight: 600;
}

@media (max-width: 900px) {
  .adotion-base p {
    font-size: 28px;
    width: 100%;
  }
}

.adotion-circle {
  display: block;
  width: 387px;
  height: 411px;
  background-color: #c7d3c1;
  border-radius: 50%;
  box-shadow: 30px 20px 0 3px #f4fff7;
}

.adotion-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: "IBM Plex Mono", monospace;
}

.adotion-text h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
}

.adotion-text p {
  margin-bottom: 30px;
}

.adotion-text p,
.adotion-text a {
  font-size: 24px;
}

.adotion-text a {
  background-color: #424242;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}
