.castracao {
  margin-top: 157px;
}

.castracao-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-bottom: 125px;
}

.castracao-flex:last-child {
  margin-bottom: 20px;
}

.castracao-flex:nth-child(2) {
  flex-direction: row-reverse;
}

.castracao-text {
  text-align: center;
  max-width: 57ch;
}

.castracao-img {
  justify-self: center;
}

.castracao-img img {
  width: 600px;
  object-fit: cover;
}

.box-shadow {
  box-shadow: 60px -60px 0 #ccf4e6;
}

.castracao-img.box-shadow:nth-last-child(2) {
  box-shadow: -60px -60px 0 #ccf4e6;
}

.castracao-text h2 {
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  .castracao-text h2 {
    font-size: 28px;
  }
  .castracao-text p {
    font-size: 16px;
  }
  .castracao-img.box-shadow,
  .castracao-img.box-shadow:nth-last-child(2) {
    box-shadow: 0 0 0 0;
  }
}

@media (max-width: 400px) {
  .castracao-text {
    width: 27ch;
  }
}

.bc-a {
  position: relative;
}

.bc-a a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #767676;
  position: absolute;
  right: 0;
}
