.home {
  margin-top: 100px;
  background-color: #b3b5bc;
  font-family: "Ledger", serif;
  font-size: 2.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.home-text img {
  object-fit: cover;
}

.home-text {
  padding-left: 30px;
}

.home-text h2 {
  margin-bottom: 40px;
}

.home-text a {
  background-color: #4f3e36;
  color: #fff;
  padding: 20px;
  font-size: 48px;
  border-radius: 20px;
  margin-left: 100px;
}

@media (max-width: 1300px) {
  .home {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
  .home-text {
    padding: 40px;
  }
  .home img {
    width: 100vw;
  }
}

@media (max-width: 750px) {
  .home-text {
    font-size: 1.6rem;
  }
  .home-text a {
    margin-left: 0px;
    font-size: 1.8rem;
  }
}

@media (max-width: 500px) {
  .home-text {
    font-size: 1.5rem;
  }
  .home-text a {
    font-size: 1.4rem;
  }
}
