.layout-dog {
  background-color: #dce9e2;
}

.layout-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.layout-flex img {
  position: relative;
  bottom: -10px;
  object-fit: contain;
  justify-self: center;
}

.layout-flex p {
  justify-self: center;
  font-size: 48px;
  text-align: center;
  width: 30ch;
  font-weight: 600;
}
