.layout-dog {
  background-color: #dce9e2;
}

.layout-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.layout-flex img {
  position: relative;
  bottom: -10px;
  object-fit: contain;
  justify-self: center;
}

.layout-flex p {
  text-align: center;
  width: 30ch;
}

@media (max-width: 900px) {
  .layout-dog {
    padding: 30px;
  }
  .layout-flex img {
    display: none;
  }
  .layout-flex p {
    font-size: 2rem;
  }
}
