@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;1,400&display=swap');

body {
    background-color: #f6f5f5;
    font-family: 'Chakra Petch', sans-serif;

}

body {
    padding: 5px;
    margin-right: 15px;
    font-size: 20px;
}

#bod {

    border-radius: 50px 0px 0px 50px;
    box-shadow: -10px 0px 20px -5px #0000007d;
    margin: 8px;
    padding: 30px;
}

h1 {
    padding: 5px;
    margin-right: 15px;
    font-size: 45px;
}

h2 {
    background-color: #d2f8f44e;
    padding: 5px;
    margin-right: 15px;
    font-size: 25px;
}

#Lados {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#Lados>div {
    margin-right: 3rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}