.bg-login {
  background: linear-gradient(to right, #c7d3c1 50%, #e5e5e5 50%);
  height: 100vh;
}

.login {
  padding-top: 20vh;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 200px;
}

[src$="Img-login.jpg"] {
  border-radius: 50%;
  border: solid #69b99d 10px;
  box-shadow: 0px 0 0 10px #fff;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}

.login-form img {
  position: absolute;
  top: 0;
}

.login-form h3 {
  font-size: 36px;
}

.login-form h4 {
  font-size: 19px;
}

.login-form h3,
h4 {
  margin: 10px 0;
  padding-bottom: 20px;
}

.login-form img {
  margin-top: 40px;
}

.login-form-box {
  width: 100%;
  background-color: #fffefe;
  border-radius: 20px;
  padding: 30px;
  justify-self: center;
}

.login-form-box a {
  margin: 20px 0;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

.login-form-inputs input[type] {
  margin: 10px 0;
  border-radius: 10px;
  border: solid 1px #d8c2c2;
}

.login-form-inputs input[type],
.login-form-inputs button {
  width: 100%;
  padding: 5px;
}

.login-form-inputs button {
  background-color: #69b99d;
  color: #fff;
  border: none;
  border-radius: 10px;
  margin: 20px 0;
  font-size: 24px;
}

.login-form-inputs::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #69b99d;
}

input[type="email"] {
  background-image: url("../imgs/logo/mail.png");
  background-position: left center;
  background-position-x: 10px;
  background-repeat: no-repeat;
}

input[type="password"] {
  background-image: url("../imgs/logo/cadeado-seguro.png");
  background-position: left center;
  background-position-x: 10px;
  background-repeat: no-repeat;
}

input#email,
input#password {
  box-sizing: border-box;
  padding: 10px;
  padding-left: 50px;
}
