.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 1px 0px #5a5959;
  background-color: #fff;
  padding: 5px;
}

.header-flex {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.header-nav,
.header-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header-nav ul li {
  color: #35194a;
  padding: 10px;
  position: relative;
  transition: 0.5s;
}

.header-nav ul li:hover {
  color: #69b99d;
}

.button-login {
  margin: 0;
  background-color: #69b99d;
  border-radius: 20px;
  padding: 10px 40px;
  transition: 0.4s;
  font-size: 1.3rem;
}

.button-login:hover {
  color: #fff;
}

.header-nav ul li::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 2px;
  background: #69b99d;
  transition: width 0.5s;
}

.header-nav ul li:hover::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
}

.js [data-menu="menu-mobile"] {
  display: none;
  cursor: pointer;
  color: #fff;
  align-items: center;
  padding: 15px 20px;
  font-size: 1rem;
  border-radius: 4px;
  background-color: #fff;
}

.header-nav ul {
  display: flex;
}

.mobile::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 2px;
  background-color: #000;
  box-shadow: 0px 4px #000, 0 -4px #000;
}

@media (max-width: 800px) {
  .header-nav li {
    margin-top: 20px;
  }
  .header {
    position: relative;
  }
  .js [data-menu="menu-mobile"] {
    display: flex;
    gap: 10px;
  }
  .button-login {
    display: none;
  }
  .header-nav {
    display: none;
  }
  .header-nav.ativo,
  .header-nav ul,
  .header-flex {
    display: flex;
    flex-direction: column;
  }
  .header-flex {
    gap: 0;
  }
  .header-flex img {
    left: 0;
    position: absolute;
  }
}

@media (max-width: 500px) {
  .header {
    font-size: 1.2rem;
    text-align: center;
    box-shadow: 0 0 0 #000;
  }
  .header-nav ul li a {
    font-size: 1.2rem;
  }
}
