.founds-info {
  margin-top: 100px;
}

.info-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  gap: 60px;
}

.info-flex:last-child {
  justify-content: space-around;
}

.info-text {
  max-width: 700px;
  text-align: center;
}

.info-text h3 {
  font-size: 48px;
  margin-bottom: 20px;
}

.info-text p {
  font-size: 24px;
  margin-bottom: 30px;
  color: #767676;
}

.info-text p:last-child {
  margin-bottom: 80px;
}

.info-img {
  border-radius: 50%;
  background-color: #d4d9d8;
  padding: 40px;
}

.find-box.box-detail::after {
  left: 0;
  background-color: #636363;
}

.find-out-box img {
  margin: 0 auto;
  height: 200px;
  object-fit: contain;
  width: 200px;
}

.find-box {
  text-align: center;
  padding: 50px;
  background-color: #f9f9f9;
  justify-self: center;
  height: 480px;
}

.find-box h4 {
  margin: 10px 0;
}

.flex-wrap.find-out-box {
  gap: 10px;
  flex-wrap: nowrap;
}
