.adopt {
  margin-top: 70px;
}

.grid-ad {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
}

.dseg {
  border-radius: 2%;
  padding: 15px 20px;
}

.dseg h1,
.dseg h3 {
  text-align: center;
}

.dseg-bg {
  background-color: #f1eeee;
  padding: 20px;
  border: 10px solid;
  border-radius: 20px;
}

.dseg-bg {
  justify-self: center;
}

.carta {
  padding: 20px;
  line-height: 1.5;
}
#Lado {
  background-color: rgba(176, 208, 234, 0.173);
  text-align: center;
  width: 100%;
  overflow: hidden;
  padding: 15px;
  margin: 0 auto;
  max-width: 1500px;
}

#Lado img {
  border-radius: 5%;
  display: inline-block;
  width: auto;
  max-width: 90%;
  height: 350px;
  object-fit: cover;
  margin-right: 2%;
}

#Lado img:last-child {
  margin-right: 0;
}

.whatsapp-btn {
  padding: 10px 20px;
  background-color: #008000;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.whatsapp-btn:hover {
  background-color: darkgreen;
}

.whatsapp-btn i {
  margin-right: 10px;
  font-size: 20px;
}
